#tbData td{
    padding: 10px;
}
table{
    margin: auto;
    margin-top: 40px;
}
#tbData{
    font-size: 14pt;
}

.imgHomeCar{
    float: left;
    margin-right:20px;
    width: 152px;
    height: 140px;
    border: 1px solid gray;
}

