#box {
    margin: auto;
    margin-top: 100px;
    width: 300px;
    background-color: #ccc;
    border: 1px solid #aaa;
    padding: 20px;
}

td{
    padding: 10px;
    padding-top: 0;
}

#Content_lblError{
    color: red;
}

